
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* NAVBAR */

.navbar{
    position: fixed;
    width: 100%;
    background: rgb(10, 10, 10);
    font-family: sans-serif;
    padding: 15px 0;
    z-index: 999;
}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar .logo a{
    color:rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 500;
}

.navbar .logo a span{
    color:rgb(30, 255, 0);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: rgb(30, 255, 0);
}

/* HOME */

.home{
    display: flex;
    background: url(darkforest.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    font-family: sans-serif;
    text-align:center;
    height: 100vh;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .texto-1{
    
    color: white;
    font-size: 20px;
}

.home .home-content .texto-2{
    color: white;
    font-size: 65px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .texto-3{
    color: white;
    font-size: 27px;
    margin: 5px 0;
}

.home .home-content .texto-3 span{
    color:rgb(30, 255, 0);
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background:rgb(30, 255, 0);
    color: rgb(10, 10, 10);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(30, 255, 0);
}

.home .home-content a:hover{
    background: rgb(10, 10, 10);
    color:rgb(30, 255, 0);
    border-color: rgb(30, 255, 0);
    transition: all 0.3s ease;
}

/* SOBRE */

section{
    padding: 100px 0;
    background-color: rgb(25, 26, 28);
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(25, 26, 28),transparent);
    z-index: 1000;
}

.sobre{
    font-family: sans-serif;
    
}

.sobre .sobre-conteudo{
    display: flex;
    align-items: center;
}

.sobre .titulo{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}

.sobre .titulo::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.sobre .titulo::after{
    content: "Quem sou...";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background:rgb(25, 26, 28);
    color: white;
    padding: 5px;
    transform: translateX(-50%);
}

.sobre .sobre-conteudo .coluna-e{
    width: 45%;
}

.sobre .sobre-conteudo .coluna-e img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 300px;
 
}

.sobre .sobre-conteudo .coluna-d{
    padding-left: 30px;
    width: 55%;
}

.sobre .sobre-conteudo .coluna-d .texto{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;  
}

.sobre .sobre-conteudo .coluna-d p{
    color: white;
font-size: 15px;
margin-bottom: 20px;
}

.sobre .sobre-conteudo .coluna-d span{
    color: rgb(30, 255, 0);
}

.sobre .sobre-conteudo .coluna-d a{
    display: inline-block;
    background-color: rgb(30, 255, 0);
    color: rgb(25, 26, 28);
    font-size: 20px;
    font-weight: 500px;
    border-radius: 10px;
    padding: 10px 30px;
    border: 2px solid rgb(30, 255, 0);
    transition: all 0.3s ease;

}

.sobre .sobre-conteudo .coluna-d a:hover{
    color: rgb(30, 255, 0);
    background: none;
}
